<div class="form-container grid-x grid-padding-x align-center">
  <div class="register-form cell small-4">
    <h2 class="form-header">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-input-container">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
      </div>

      <div class="form-input-container">
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-input" %>
    </div>

      <div class="form-input-container">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
      </div>

      <div class="form-input-container">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
      </div>

      <div class="form-btn-container align-center">
        <%= f.submit "Sign up", class: "form-btn" %>
      </div>
    <% end %>

    <div class="form-alt-link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
